In [25]:
from utils.dataset import Dataset
import numpy as np
import pandas as pd

In [6]:
dfc = Dataset('data.csv')

In [93]:
subs = dfc.df_open_times - dfc.df_send_times.values
subs = dfc.df_open_times + (dfc.df_open_times[subs < 0] - dfc.df_open_times[subs < 0] + 24).fillna(0)
new = subs - dfc.df_send_times.values
new

,TO00,TO01,TO02,TO03,TO04,TO05,TO06,TO07,TO08,TO09,TO10,TO11,TO12,TO13,TO14
0,8.450000,20.616667,20.650000,18.966667,20.783333,3.450000,19.950000,1.216667,5.650000,21.700000,11.483333,22.783333,19.1,23.233333,0.0
1,0.183333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
2,14.366667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
3,0.633333,1.066667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
4,7.983333,6.016667,8.783333,1.716667,5.700000,10.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.616667,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
99996,0.266667,0.083333,1.700000,0.016667,0.166667,0.800000,0.283333,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
99997,0.016667,0.400000,0.816667,0.200000,0.500000,2.800000,0.433333,0.316667,1.883333,0.183333,0.633333,0.000000,0.0,0.000000,0.0
99998,2.116667,13.766667,0.550000,5.283333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
99999,20.900000,20.266667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0